<!doctype html>
<html>
<head>
	<title>Drawing Animation</title>
	<link rel="stylesheet" type="text/css" href="../static/drawingAnimation.css">
</head>
<body>
	<h1>Let's learn together!</h1>
	<h2>(step pictureslvideos)</h2>

	<div class="row">

		<div class="column">
			<h3 id="mfa">Let's draw flowers!</h3>
			<center><img src="../static/images/flower2.png" width="300" height="300"/></center>
		</div>

		<div class="column">
			<h3 id="mfa">Let's draw animals!</h3>
			<center><img src="../static/images/animal.png" width="300" height="300"/></center>
		</div>

		<div class="column">
			<h3 id="mfa">Let's draw Disney!</h3>
			<center><img src="../static/images/disney.png" width="500" height="300"/></center>
		</div>

		<div class="column">
			<h3 id="mfa">Let's draw people!</h3>
			<center><img src="../static/images/people.png" width="300" height="300"/></center>
		</div>
	</div>


</body>
</html>