<!doctype html>

<html>

<head>

	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="../static/home.css">

</head>



<body id="homebody">
<!--here we added the logo and the title -->
	<header> 

		<h1 id="mytitle">add the title here</h1> 	
		<img id="logo" src="file:///home/we/Desktop/FinalProjectYear2/static/images/logo1.png" width="200"/>

	</header>
<!-- here is the naviation bar-->
	<nav id="navBar">

		<ul>
			<li><a href="/">Home </a></li>
			<li><a href="/">Drawing Animation</a> </li>
			<li><a href="/">Fun Inspiration</a> </li>
			<li><a href="/">Color Choosing</a> </li>
			<li><a href="/">About us</a> </li>
		</ul>

	</nav>


</body>


</html>