<!doctype html>

<html>

<head>

	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="../static/home.css">

</head>


<body id="homebody">
<!--here we added the logo and the title -->
	<header> 

		<h1 id="mytitle">add the title here</h1> 	
		<img id="logo" src="../static/images/logo1.png" width="200"/>

	</header>
<!-- here is the naviation bar-->
	<nav id="navBar">

		<ul>
			<li><a href="/">Home </a></li>
			<li><a href="drawingAnimation.html">Drawing Animation</a> </li>
			<li><a href="/fun">Fun Inspiration</a> </li>
			<li><a href="/color">Color Choosing</a> </li>
			<li><a href="/about">About us</a> </li>
		</ul>

	</nav>

	<!-- This is a slideshow that I got from the internet from "W3schools" -->
	<div class="slideshow-container">
		<div class="first slide">
			<div>1/3</div>
			<img src="../static/images/colors2.jpg" style="width:100%">
			<div class="text">caption</div>
		</div>

		<div class="second slide">
			<div>2/3</div>
			<img src="../static/images/hum.jpg" style="width:100%">
			<div class="text">caption</div>
		</div>

		<div class="third slide">
			<div>3/3</div>
			<img src="..static/images/wall.jpg" style="width:100%">
			<div class="text">caption</div>
		</div>
	</div>

	<div style="text-align:center">
	<span class="dot"></span> 
		<span class="dot"></span> 
		<span class="dot"></span> 
	</div>


	<script>
	var slideindex=0;
	showSlides();

	function showSlides(){
		var i;
		var slides=document.getElementsByClassName("mySlides");
		for (i=0; i<slides.length; i++){
			slides[i].style.display="none";
		}
		slideindex++;
		if (slideindex > slides.length) {slideindex=1}
			slides[slideindex-1].style.display="block";
		setTimeout(showSlides,2000);
	}
	</script>



	


</body>


</html>